<template>
  <div class="pipeline-tile">
    <div :class="`inner ${pipeline.status}`">
      <div class="status">{{ pipeline.status }}</div>
      <div class="name" v-html="displayName"></div>
      <div class="duration">{{ pipelineDuration(pipeline) }}</div>
      <div class="bottom">
        <div class="started">{{ formatAge(pipeline.started_at) }}</div>
        <div class="user">{{ `#${pipeline.id} - ${pipeline.user ? pipeline.user.username : 'system'}` }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { GitLabPipelineDetails } from '@/interfaces'
import moment from 'moment'

export default Vue.extend({
  name: 'PipelineTile',
  props: {
    name: String,
    pipeline: Object as () => GitLabPipelineDetails,
  },
  computed: {
    displayName(): string {
      return this.breakOnUnderscore(this.name)
    },
  },
  methods: {
    breakOnUnderscore(str: string) {
      return str.split('_').map((word) => `<span>${word}</span>`).join('_')
    },
    pipelineDuration(pipeline: GitLabPipelineDetails) {
      if (pipeline.status === 'running') {
        const now = new Date()
        const started = new Date(pipeline.started_at)
        const time = now.getTime() - started.getTime()
        return this.formatDuration(Math.floor(time / 1000))
      } else {
        return this.formatDuration(pipeline.duration)
      }
    },
    formatAge(dateStr: string) {
      const fromNow = moment(dateStr).fromNow()
      const message = fromNow.includes('seconds') ? 'Just now' : fromNow
      return message
    },
    formatDuration(time: number) {
      const minutes = Math.floor(time / 60)
      const seconds = time - minutes * 60
      const minutesStr = minutes > 1 ? 'minutes' : 'minute'
      const secondStr = seconds > 1 ? 'seconds' : 'second'
      return minutes > 0 ?
        `${minutes} ${minutesStr} ${seconds} ${secondStr}` :
        `${seconds} ${secondStr}`
    },
  },
})
</script>

<style lang="scss">

$red: #dc4644;
$green: #2f9e60;
$grey: #475158;
$orange: #fc9403;

:root {
  color: #ffffff;
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $grey;
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 1s ease-in-out;

  &.success {
    background-color: $green;
  }
  &.failed {
    background-color: $red;
  }
  &.pending {
    background-color: $orange;
  }
}

.status {
  line-height: 1;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.name {
  font-size: 2.3em;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5rem;
  text-align: center;
  span {
    display: inline-flex;
  }
}

.duration {
  font-size: 0.9em;
}

.bottom {
  position: absolute;
  width: 100%;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #efefef;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}

</style>
